# Heroes of Pymoli - Purchase Data Insights

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data_csv)

#Looked at the data frame and the values it contains
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [110]:
#saved the unique screen names of all the players to a list
player_list = purchase_data_df["SN"].unique()
#finding the total number of players
total_players = len(player_list)

#display the data
total_player_count_df = pd.DataFrame({
    "Total Players": total_players
}, index=[0])

total_player_count_df

   Total Players
0            576

# Purchasing Analysis - Total

In [111]:
#saved the unique item names to a list
item_list = purchase_data_df["Item Name"].unique()
#count the number of unique items in the list
item_count = len(item_list)
#find the average of the "Price" column - rounded since we're dealing with money
avg_purchase_price = round(purchase_data_df["Price"].mean(axis=0), 2)
#find the total number of purchases
num_of_purchases = purchase_data_df["Purchase ID"].count()
#finds the sum of all the purchases
total_revenue = purchase_data_df["Price"].sum()
#put these values into a clear, easy to read data frame
purchasing_analysis = pd.DataFrame({
    "Number of Unique Items": item_count,
    "Average Price": avg_purchase_price,
    "Number of Purchases": num_of_purchases,
    "Total Revenue": total_revenue
}, index=[0])
#adding formatting
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].astype(float).map("${:.2f}".format)
purchasing_analysis["Total Revenue"] =purchasing_analysis["Total Revenue"].astype(float).map("${:,.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

# Gender Demographics

In [19]:
#creating lists to hold returned values from the gender_data function
gender_counts = []
gender_percents = []

#creating a function for gender percentage and counts
def gender_data(df):
    #saved the unique screen names of all the gendered players to a list
    gender_list = df["SN"].unique()
    #finding the total number of gendered players
    gender_players = len(gender_list)
    #calculating the percentage of gendered players
    percent_gender = round((gender_players / total_players * 100), 2)
    #push gender_players and percent_gender to gender_counts and gender_percents respectively
    gender_counts.append(gender_players)
    gender_percents.append(percent_gender)

In [20]:
#groups the purchase data fram by gender
gendered_df = purchase_data_df.groupby("Gender")

#pulls all the male data
male_data_df = gendered_df.get_group("Male")
#runs the gender_data function on the male data
gender_data(male_data_df)

#pulls all the female data
female_data_df = gendered_df.get_group("Female")
#runs the gender_data function on the female data
gender_data(female_data_df)

#pulls all the other/non-disclosed data
other_data_df = gendered_df.get_group("Other / Non-Disclosed")
#runs the gender_data function on the other/non-disclosed data
gender_data(other_data_df)

In [112]:
#creating the gender demographics summary data frame
gender_summary_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other/Non-Disclosed"],
    "Total Count": gender_counts,
    "Percentage of Players": gender_percents
})
#setting the index to be gender, then add fomatting
indexed_gender_summary_df = gender_summary_df.set_index(["Gender"])
indexed_gender_summary_df["Percentage of Players"] = indexed_gender_summary_df["Percentage of Players"].astype(float).map("{:.2f}%".format)

indexed_gender_summary_df

                     Total Count Percentage of Players
Gender
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

# Purchasing Analysis - Gender

In [24]:
#defining lists to push function data to
gender_purchase_count = []
gender_avg_purchase_price = []
gender_total_purchase_value = []
gender_avg_total_per_person = []
#defining the function for the necessary gender purchasing analysis calculations
def gender_purchasing_analysis(df):
    #find the total number of purchases
    num_of_purchases = df["Purchase ID"].count()
    #push result to the proper list
    gender_purchase_count.append(num_of_purchases)
    
    #find the average of the "Price" column - rounded since we're dealing with money
    avg_purchase_price = round(df["Price"].mean(axis=0), 2)
    #push result to the proper list
    gender_avg_purchase_price.append(avg_purchase_price)
    
    #finds the sum of all the purchases
    total_value = df["Price"].sum()
    #push result to the proper list
    gender_total_purchase_value.append(total_value)
    
    #saved the unique screen names of all the gendered players to a list
    gender_list = df["SN"].unique()
    #finding the total number of gendered players
    gender_players = len(gender_list)
    #finds the average purchase price per person
    avg_per_person = round(total_value / gender_players, 2)
    #push result to the proper list
    gender_avg_total_per_person.append(avg_per_person)

In [25]:
#gender specific data frames already created above
#runs the gender_purchasing_analysis function on the male data
gender_purchasing_analysis(male_data_df)

#runs the gender_purchasing_analysis function on the female data
gender_purchasing_analysis(female_data_df)

#runs the gender_purchasing_analysis function on the Other/Non-Disclosede data
gender_purchasing_analysis(other_data_df)

In [113]:
#creating the gendered purchasing analysis data frame
gender_purchasing_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other/Non-Disclosed"],
    "Purchase Count": gender_purchase_count,
    "Average Purchase Price": gender_avg_purchase_price,
    "Total Purchase Value": gender_total_purchase_value,
    "Avg Total Purchase Per Person": gender_avg_total_per_person
})
#setting the index to be gender and adding formatting
indexed_gender_purchasing_df = gender_purchasing_df.set_index(["Gender"])
indexed_gender_purchasing_df["Average Purchase Price"] = indexed_gender_purchasing_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
indexed_gender_purchasing_df["Total Purchase Value"] = indexed_gender_purchasing_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
indexed_gender_purchasing_df["Avg Total Purchase Per Person"] = indexed_gender_purchasing_df["Avg Total Purchase Per Person"].astype(float).map("${:,.2f}".format)

indexed_gender_purchasing_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

In [10]:
#creating age bins - using decimals to ensure I have the ages in the groups I want
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

#creating bin labels
age_bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#putting the original purchase_data_df data frame into bins based on age
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_bin_names)

#grouping the age groups together
age_purchase_data_df = purchase_data_df.groupby("Age Range")

In [116]:
#defining lists to push function data to
players_by_age_count = []
percent_by_age = []

#defining the function for the necessary age demographics calculations
def age_dem(df):
    #getting the dictionary item of each unique screen name in the age group
    players_by_age = df["SN"].unique()
    
    #loops through the players_by_age dictionary
    for age, SN_list in players_by_age.items():
        #finds the number of players by age and appends it to the players_by_age_count list
        players_by_age_count.append(len(players_by_age[age]))
        #finds the percentage of players each age group represents then appends it to the percent_by_age list
        percent_by_age.append(round(len(players_by_age[age]) / total_players * 100, 2))

#run the function to get the data
age_dem(age_purchase_data_df)

#creating the age demographics data frame
age_dem_df = pd.DataFrame({
    "Age Range": age_bin_names,
    "Total Count": players_by_age_count,
    "Percentage of Players":  percent_by_age
})

#setting the index to age range and adding formatting
indexed_age_dem_df = age_dem_df.set_index(["Age Range"])
indexed_age_dem_df["Percentage of Players"] = indexed_age_dem_df["Percentage of Players"].astype(float).map("{:.2f}%".format)

indexed_age_dem_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

# Purchasing Analysis - Age

In [118]:
#defining lists to push function data to
age_purchase_count = []
age_avg_purchase_price = []
age_total_purchase_value = []
age_avg_total_per_person = []
#defining the function for the necessary age purchasing analysis calculations
def age_purchasing_analysis(df):
    #find the total number of purchases
    num_of_purchases = df["Purchase ID"].count()
    #find the average of the "Price" column - rounded since we're dealing with money
    avg_purchase_price = round(df["Price"].mean(), 2)
    #finds the sum of all the purchases
    total_value = round(df["Price"].sum(), 2)
    
    for age, id in num_of_purchases.items():

        #push number of purchases result to the proper list
        age_purchase_count.append(num_of_purchases[age])

        #push average price result to the proper list
        age_avg_purchase_price.append(avg_purchase_price[age])

        #push total purchase price result to the proper list
        age_total_purchase_value.append(total_value[age])
    
    for age, price in total_value.items():
        #getting the total count of players per age range
        players_by_age = df["SN"].unique()
        #finds the average purchase price per person
        avg_per_person = round(total_value[age] / len(players_by_age[age]), 2)
        #push average purchase price per person result to the proper list
        age_avg_total_per_person.append(avg_per_person)

In [119]:
#run the function
age_purchasing_analysis(age_purchase_data_df) 

#creating the gendered purchasing analysis data frame
age_purchasing_df = pd.DataFrame({
    "Age Range": age_bin_names,
    "Purchase Count": age_purchase_count,
    "Average Purchase Price": age_avg_purchase_price,
    "Total Purchase Value": age_total_purchase_value,
    "Avg Total Purchase Per Person": age_avg_total_per_person
})
#setting the index to be the age range and adding formatting
indexed_age_purchasing_df = age_purchasing_df.set_index(["Age Range"])
indexed_age_purchasing_df["Average Purchase Price"] = indexed_age_purchasing_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
indexed_age_purchasing_df["Total Purchase Value"] = indexed_age_purchasing_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
indexed_age_purchasing_df["Avg Total Purchase Per Person"] = indexed_age_purchasing_df["Avg Total Purchase Per Person"].astype(float).map("${:,.2f}".format)

indexed_age_purchasing_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders

In [120]:
#group the data by screen name
top_spenders_df = purchase_data_df.groupby("SN")
#pull only the necessary columns out
reduced_top_spenders_df = top_spenders_df[["SN", "Price"]]

#adding purchase values together for total purchase value
total_purchase = top_spenders_df.sum("Price")
#finds the 5 largest values in the total_purchase price
top_spenders = total_purchase["Price"].nlargest(5)
#prints values for data frame creation
print(top_spenders)

#create new data frame with the 5 top spenders found previously
new_top_spenders_df = purchase_data_df.loc[(purchase_data_df["SN"] == "Lisosia93") | 
                                           (purchase_data_df["SN"] == "Idastidru52") | 
                                           (purchase_data_df["SN"] == "Chamjask73") | 
                                           (purchase_data_df["SN"] == "Iral74") | 
                                           (purchase_data_df["SN"] == "Iskadarya95"), :]

#group new data frame by screen name and reduce it 
grouped_new_top_spenders_df = new_top_spenders_df[["SN", "Price"]].groupby("SN")

#using the number of prices to find purchases per person
num_purchases = grouped_new_top_spenders_df.count()

#new summary data frame
top_spenders_analysis_df = pd.DataFrame({
    "SN": ["Chamjask73", "Idastidru52", "Iral74", "Iskadarya95", "Lisosia93"],
    "Purchase Count": num_purchases["Price"],
    "Total Purchase Value": top_spenders
})

#find the average price per purchase
avg_price = round(top_spenders_analysis_df["Total Purchase Value"] / top_spenders_analysis_df["Purchase Count"], 2)
#add the average price to the data frame
top_spenders_analysis_df["Average Purchase Price"] = avg_price

#reordering the columns and sorting the data frame by the purchase value
new_top_spenders_analysis_df = top_spenders_analysis_df[["SN", "Purchase Count", "Average Purchase Price", "Total Purchase Value"]].sort_values("Total Purchase Value", ascending=False)

#setting the index to the screen names and adding formatting
indexed_top_spenders_analysis_df = new_top_spenders_analysis_df.set_index("SN")
indexed_top_spenders_analysis_df["Average Purchase Price"] = indexed_top_spenders_analysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
indexed_top_spenders_analysis_df["Total Purchase Value"] = indexed_top_spenders_analysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)

indexed_top_spenders_analysis_df

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular Items

In [121]:
#use item name counts to find the most popular items, put them in a dataframe, and alphabetize it
popular_item_names = (pd.DataFrame(purchase_data_df["Item Name"].value_counts().nlargest(5)).sort_index())
print(popular_item_names)

#create the data frame based on the values found 
popular_items_df = purchase_data_df.loc[(purchase_data_df["Item Name"] == "Final Critic") |
                                       (purchase_data_df["Item Name"] == "Oathbreaker, Last Hope of the Breaking Storm") | 
                                       (purchase_data_df["Item Name"] == "Fiery Glass Crusader") | 
                                       (purchase_data_df["Item Name"] == "Persuasion") | 
                                       (purchase_data_df["Item Name"] == "Extraction, Quickblade Of Trembling Hands"), ["Item ID", "Item Name", "Price"]]

#groups items by name
grouped_popular_items_df = popular_items_df.groupby("Item Name")

#finding the matching item id for the top items
popular_item_ids = grouped_popular_items_df["Item ID"].first()

#find how many times the top five items were sold
purchase_count = grouped_popular_items_df["Item Name"].count()

#get the total purchase price for the items purchased
popular_total_purchase_value = grouped_popular_items_df["Price"].sum()

#get an individual item's price
item_price = round(popular_total_purchase_value / purchase_count, 2)

#creating a new data frame
popular_item_analysis_df = pd.DataFrame({
    "Item ID": popular_item_ids.values,
    "Item Name": popular_item_names.index,
    "Purchase Count": purchase_count.values,
    "Item Price": item_price.values,
    "Total Purchase Value": popular_total_purchase_value.values
})
#reset the index to be item ID, sorted by purchase counta and adding formatting
indexed_popular_item_analysis_df = popular_item_analysis_df.set_index("Item ID").sort_values("Purchase Count", ascending=False)
indexed_popular_item_analysis_df["Item Price"] = indexed_popular_item_analysis_df["Item Price"].astype(float).map("${:,.2f}".format)
indexed_popular_item_analysis_df["Total Purchase Value"] = indexed_popular_item_analysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)


indexed_popular_item_analysis_df

                                              Item Name
Extraction, Quickblade Of Trembling Hands             9
Fiery Glass Crusader                                  9
Final Critic                                         13
Oathbreaker, Last Hope of the Breaking Storm         12
Persuasion                                            9

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99

# Most Profitable Items

In [123]:
#group dataframe by item name
item_grouped_df = purchase_data_df.groupby("Item Name")
#find top 5 highest total purchase value items and alphabetize them
top_item_total_purchase_value = item_grouped_df["Price"].sum().nlargest(5).sort_index()
#pull the item names
top_item_names = top_item_total_purchase_value.index
print(top_item_names)

#create a new data frame with just these items
top_items_df = purchase_data_df.loc[(purchase_data_df["Item Name"] == "Final Critic") |
                                       (purchase_data_df["Item Name"] == "Oathbreaker, Last Hope of the Breaking Storm") | 
                                       (purchase_data_df["Item Name"] == "Fiery Glass Crusader") | 
                                       (purchase_data_df["Item Name"] == "Nirvana") | 
                                       (purchase_data_df["Item Name"] == "Singed Scalpel"), ["Item ID", "Item Name", "Price"]]

#group the new dataframe
top_item_grouped_df = top_items_df.groupby("Item Name")

#find the ids to match the items
top_item_ids = top_item_grouped_df["Item ID"].first()

#find the price per item
top_item_price = round(top_item_grouped_df["Price"].mean(), 2)

#find the purchase count for the items
top_item_count = top_item_grouped_df["Item Name"].count()

#create the summary data frame
top_item_analysis_df = pd.DataFrame({
    "Item ID": top_item_ids.values,
    "Item Name": top_item_names,
    "Purchase Count": top_item_count.values,
    "Item Price": top_item_price.values,
    "Total Purchase Value": top_item_total_purchase_value.values
})
#reset the index to be item id, sorted by purchase value, and added formatting
indexed_top_item_analysis_df = top_item_analysis_df.set_index("Item ID").sort_values("Total Purchase Value", ascending=False)
indexed_top_item_analysis_df["Item Price"] = indexed_top_item_analysis_df["Item Price"].astype(float).map("${:,.2f}".format)
indexed_top_item_analysis_df["Total Purchase Value"] = indexed_top_item_analysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)


indexed_top_item_analysis_df

Index(['Fiery Glass Crusader', 'Final Critic', 'Nirvana',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Singed Scalpel'],
      dtype='object', name='Item Name')

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80