In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data_csv)
#Looked at the data frame and the values it contains
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#saved the unique screen names of all the players to a list
player_list = purchase_data["SN"].unique()
#finding the total number of players
total_players = len(player_list)
print(total_players)

576

In [3]:
#saved the unique item names to a list
item_list = purchase_data["Item Name"].unique()
#count the number of unique items in the list
item_count = len(item_list)
#find the average of the "Price" column
avg_purchase_price = round(purchase_data["Price"].mean(axis=0), 2)
#find the total number of purchases
num_of_purchases = purchase_data["Purchase ID"].count()
#finds the sum of all the purchases
total_revenue = purchase_data["Price"].sum()
#put these values into a clear, easy to read data frame
purchasing_analysis = pd.DataFrame({
    "Numberof Unique Items": item_count,
    "Average Price": avg_purchase_price,
    "Number of Purchases": num_of_purchases,
    "Total Revenue": total_revenue
}, index=[0])
purchasing_analysis

   Numberof Unique Items  Average Price  Number of Purchases  Total Revenue
0                    179           3.05                  780        2379.77