# Heroes of Pymoli - Purchase Data Insights

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data_csv)
#Looked at the data frame and the values it contains
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [8]:
#saved the unique screen names of all the players to a list
player_list = purchase_data_df["SN"].unique()
#finding the total number of players
total_players = len(player_list)
print(total_players)

576

# Purchasing Analysis

In [3]:
#saved the unique item names to a list
item_list = purchase_data_df["Item Name"].unique()
#count the number of unique items in the list
item_count = len(item_list)
#find the average of the "Price" column - rounded since we're dealing with money
avg_purchase_price = round(purchase_data_df["Price"].mean(axis=0), 2)
#find the total number of purchases
num_of_purchases = purchase_data_df["Purchase ID"].count()
#finds the sum of all the purchases
total_revenue = purchase_data_df["Price"].sum()
#put these values into a clear, easy to read data frame
purchasing_analysis = pd.DataFrame({
    "Numberof Unique Items": item_count,
    "Average Price": avg_purchase_price,
    "Number of Purchases": num_of_purchases,
    "Total Revenue": total_revenue
}, index=[0])
purchasing_analysis

   Numberof Unique Items  Average Price  Number of Purchases  Total Revenue
0                    179           3.05                  780        2379.77

# Gender Demographics

In [15]:
#creating lists to hold returned values from the gender_data function
gender_counts = []
gender_percents = []

#creating a function for gender percentage and counts
def gender_data(df):
    #saved the unique screen names of all the gendered players to a list
    gender_list = df["SN"].unique()
    #finding the total number of gendered players
    gender_players = len(gender_list)
    #calculating the percentage of gendered players
    percent_gender = round((gender_players / total_players * 100), 2)
    #push gender_players and percent_gender to gender_counts and gender_percents respectively
    gender_counts.append(gender_players)
    gender_percents.append(percent_gender)

In [16]:
#pulls all the male data to a separate data frame
male_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
#runs the gender_data function on the male data
gender_data(male_data_df)

#pulls all the female data to a separate data frame
female_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
#runs the gender_data function on the female data
gender_data(female_data_df)

#pulls all the other/non-disclosed data to a separate data frame
other_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
#runs the gender_data function on the other/non-disclosed data
gender_data(other_data_df)